body {
     font-family: 'Noto san display, sans-serif';
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: white;
    font-size: 25px;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
    transition: transform .1s;
}

.sav{
    width: 100%;
}


.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: white;
    transform: scale(1.2);
}

h1 {
    margin-left: 20px;
    margin-top: -50px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.imgoutlook {
    width: 4%;
    height: 8vh;
    margin-left: 520px;
    margin-top: 5px;
}

.imgtele {
    width: 4%;
    height: 8vh;
    margin-left: 600px;
    margin-top: -50px;
}

.imgtele {
    transition: transform .1s;
}

.imgtele:hover {
    transform: scale(1.5);
}

.imgoutlook {
    transition: transform .1s;
}

.imgoutlook:hover {
    transform: scale(1.5);
}

h3 {
    margin-left: 350px;
}

h5 {
    margin-left: 830px;
}

.life {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 150px;
}
.image
{
    width:300px;
    height:300px;
    margin-left: 150px; 
}

 p
 {
    padding-left: 30px;
 }

  .img{
        width:300px; 
        height:300px; 
        margin-left: 300px; 
    }

    .img1{
        width:350px; 
        height:350px; 
        margin-left: 150px;
    }

    .img2{
        width:350px; 
        height:350px; 
        margin-left: 250px;
    }

    h5{
    font-family: fantasy; 
    margin-left: 580px;
}



@media (min-width: 1200px) and (max-width: 1366px) {

    }


@media (min-width: 992px) and (max-width: 1200px) {
}


@media (min-width: 768px) and (max-width: 991px) {
    .image
{
     width:400px;
     height:400px;
     margin-left: 100px; 
}
 p
 {
    padding-left: 150px;
    padding-right: 150px
 }



    .img{
        width:400px; 
        height:400px; 
        margin-left: 700px; 
        margin-top: -400px
    }

     .imgoutlook {
    width: 4%;
    height: 6vh;
    margin-left: 500px;
    margin-top: -10px;
}

.imgtele {
    width: 4%;
    height: 8vh;
    margin-left: 600px;
    margin-top: -100px;
}

.img1{
        width:400px; 
        height:400px; 
        margin-left: 100px;
    }

     .img2{
        width:400px; 
        height:400px; 
        margin-left: 700px;
        margin-top: -400px;
    }

     h5{
    font-family: fantasy; 
    margin-left: 560px;
}


}

@media only screen and (max-width: 767px) {
  .image
{
     width: 40%;
     height:200px;
     margin-left: 30px; 
}
 p
 {
    padding-left: 20px;
    width: 90%;
 }



    .img{
        width:40%; 
        height:200px; 
        margin-left: 220px; 
        margin-top: -200px
    }

    .imgoutlook {
    width: 4%;
    height: 6vh;
    margin-left: 200px;
    margin-top: 5px;
}

.imgtele {
    width: 4%;
    height: 8vh;
    margin-left: 250px;
    margin-top: -50px;
}

.img1{
         width: 40%;
     height:200px;
     margin-left: 30px; 
    }
     .img2{
        width: 40%; 
        height:200px; 
        margin-left: 220px;
        margin-top: -200px
    }

     h5{
    font-family: fantasy; 
    margin-left: 220px;
}

.sav{
    width: 100%; 
    height: 200px;
}

h1{
    font-size: 35px;
    margin-left: 10px;
}

.life{
    margin-left: 20px;
     border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 20px;


}
