h1 {
    margin-left: 20px;
    margin-top: -50px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.youtube {
    width: 450px;
    height: 250px;
}

.youtube1 {
    display: flex;
    width: 450px;
    height: 250px;
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: #1abc9c;
    font-size: 25px;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: #1abc9c;
    transform: scale(1.2);
}

body {
    background-color: #1abc9c;
}

.wow {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 150px;
}

.p {
    text-align: center;
}

.para {
    margin-left: 120px;
}

.one {
    margin-left: 500px;
    margin-top: -250px;
    color: crimson;
}

.two {
    margin-left: 500px;
    color: blue;
}

.three {
    margin-left: 500px;
    color: #F97F51;
}

.four {
    margin-left: 500px;
    color: #40407a;
}

.video {
    margin-left: 120px;
}

.five {
    margin-left: 500px;
    margin-top: -300px;
    color: #c44569;
}

.six {
    margin-left: 500px;
    color: #3d3d3d;
}

.seven {
    margin-left: 500px;
    color: #84817a;
}

.eight {
    margin-left: 500px;
    color: #82589F;
}


/* responsive starts */


/* ipad pro */

@media (min-width: 1024px) and (max-width: 1366px) {
    h1 {
        margin-left: 20px;
        margin-top: -100px;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    .btn {
        float: right;
        padding: 10px 20px 10px 20px;
        color: gold;
        background-color: #1abc9c;
        font-size: 25px;
        border-style: none;
        margin-top: 30px;
        margin-left: 10px;
        transition: transform .1s;
    }
    .btn:hover {
        cursor: pointer;
        background-color: gold;
        color: #1abc9c;
        transform: scale(1.2);
    }
    body {
        background-color: #1abc9c;
    }
    .wow {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .p {
        text-align: center;
        font-size: 25px;
    }
    .para {
        margin-left: 150px;
    }
    .one {
        margin-left: 500px;
        margin-top: -300px;
        color: crimson;
    }
    .two {
        margin-left: 500px;
        color: blue;
        margin-bottom: 20px;
    }
    .three {
        margin-left: 500px;
        color: #F97F51;
        margin-bottom: 350px;
    }
    .four {
        margin-left: 500px;
        color: #40407a;
        margin-bottom: 100px;
        margin-top: -180px;
    }
    .video {
        margin-left: 150px;
        margin-top: 20px;
    }
    .five {
        margin-left: 500px;
        margin-top: -200px;
        color: #c44569;
        margin-bottom: 200px;
    }
    .six {
        margin-left: 500px;
        color: #3d3d3d;
        margin-top: 30px;
    }
    .seven {
        margin-left: 500px;
        color: #84817a;
    }
    .eight {
        margin-left: 500px;
        color: #82589F;
    }
    .youtube {
        width: 450px;
        height: 250px;
        margin-bottom: 350px;
    }
    .youtube1 {
        display: flex;
        width: 450px;
        height: 250px;
        margin-top: 600px;
    }
}


/* ipad */

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        margin-left: 20px;
        margin-top: -100px;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    .btn {
        float: right;
        padding: 10px 20px 10px 20px;
        color: gold;
        background-color: #1abc9c;
        font-size: 25px;
        border-style: none;
        margin-top: 30px;
        margin-left: 10px;
        transition: transform .1s;
    }
    .btn:hover {
        cursor: pointer;
        background-color: gold;
        color: #1abc9c;
        transform: scale(1.2);
    }
    body {
        background-color: #1abc9c;
    }
    .wow {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .p {
        text-align: center;
        font-size: 25px;
    }
    .para {
        margin-left: 150px;
    }
    .one {
        margin-left: 500px;
        margin-top: -300px;
        color: crimson;
    }
    .two {
        margin-left: 500px;
        color: blue;
        margin-bottom: 20px;
    }
    .three {
        margin-left: 500px;
        color: #F97F51;
        margin-bottom: 350px;
    }
    .four {
        margin-left: 500px;
        color: #40407a;
        margin-bottom: 100px;
        margin-top: -180px;
    }
    .video {
        margin-left: 150px;
        margin-top: 20px;
    }
    .five {
        margin-left: 500px;
        margin-top: -200px;
        color: #c44569;
        margin-bottom: 200px;
    }
    .six {
        margin-left: 500px;
        color: #3d3d3d;
        margin-top: 30px;
    }
    .seven {
        margin-left: 500px;
        color: #84817a;
    }
    .eight {
        margin-left: 500px;
        color: #82589F;
    }
    .youtube {
        width: 450px;
        height: 250px;
    }
    .youtube1 {
        display: flex;
        width: 450px;
        height: 250px;
        margin-top: -600px;
    }
}


/* mobiles */

@media only screen and (max-width: 767px) {
    h1 {
        margin-left: 10px;
        margin-top: -50px;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    .btn {
        float: right;
        padding: 10px 20px 10px 20px;
        color: gold;
        background-color: #1abc9c;
        font-size: 25px;
        border-style: none;
        margin-top: 30px;
        margin-left: 10px;
        transition: transform .1s;
    }
    .btn:hover {
        cursor: pointer;
        background-color: gold;
        color: #1abc9c;
        transform: scale(1.2);
    }
    body {
        background-color: #1abc9c;
    }
    .wow {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .p {
        text-align: center;
    }
    .para {
        margin-left: -30px;
        color: #1abc9c;
    }
    .one {
        margin-left: 500px;
        margin-top: -250px;
        color: crimson;
    }
    .two {
        margin-left: 500px;
        color: blue;
    }
    .three {
        margin-left: 500px;
        color: #F97F51;
    }
    .four {
        margin-left: 500px;
        color: #40407a;
    }
    .video {
        margin-left: 20px;
    }
    .five {
        margin-left: 500px;
        margin-top: -300px;
        color: #c44569;
    }
    .six {
        margin-left: 500px;
        color: #3d3d3d;
    }
    .seven {
        margin-left: 500px;
        color: #84817a;
    }
    .eight {
        margin-left: 500px;
        color: #82589F;
    }
    .youtube {
        width: 450px;
        height: 250px;
    }
    .youtube1 {
        display: flex;
        width: 450px;
        height: 250px;
    }
}
