h1 {
    margin-left: 20px;
    margin-top: -50px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #c7ecee;
}

h2 {
    margin-left: 595px;
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: #c7ecee;
    font-size: 25px;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: #c7ecee;
    transform: scale(1.2);
}

.travel {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 150px;
}
